.dist {
   stroke: rgb(11,117,208);
   stroke-width: 1.3;
   fill: none;
}

.distArea{
  fill: rgb(11,117,208);
  fill-opacity: 0.7;
}

.CountryArea{
  fill: rgb(249, 252, 60);
  fill-opacity: 1.0;
}

.maxis{
  fill: none;
  stroke: rgb(240,240,255);
  stroke-width: 1.5;
}

.textaxis {
  fill: rgb(240,240,255);
  stroke: none;
  font-size: 8px;
  font: Calibri;
  text-anchor: end;
}

.heading {
  fill: rgb(240,240,255);
  stroke: none;
  font-size: 13px;
  font: Afta;
  font-weight: 700;
}
